<form name="addressForm" class="blackbkgd container-md address-input" ng-submit="submit()">
    <div class="row pt-5">
        <h2 class="col-12">We have Stickers</h2>
    </div>

    <div class="row pt-3 text-left">
        <div class="col-12">
            <a id="backbutton" href="#!/shop">< BACK</a>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12">
            <input type="text" id="namefield" name="name" placeholder="Name" ng-model="address.name" required>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12">
            <input type="email" id="emailfield" name="email" placeholder="Email" ng-model="address.email" required validemail>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12">
            <input type="text" id="street1field" name="street1" placeholder="Address Line 1" ng-model="address.street1" required>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12">
            <input type="text" id="street2field" name="street2" placeholder="Address Line 2" ng-model="address.street2">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 pt-3">
            <input type="text" id="cityfield" name="city" placeholder="City" ng-model="address.city" required>
        </div>
        <div class="col-sm-2 pt-3">
            <input type="text" id="statefield" name="state" placeholder="State" ng-model="address.state" required validstate>
        </div>
        <div class="col-sm-2 pt-3">
            <input type="text" id="zipfield" name="zip" placeholder="Zip" ng-model="address.zip" required validzip>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12 text-left">
            <p class="note">Note: Currently we are only mailing in the US.</p>
        </div>
    </div>

    <div class="row pt-3" ng-show="!productValid">
        <div class="col-12 text-left">
            <p class="error">Please select a valid product.</p>
        </div>
    </div>

    <div class="row pt-3" ng-show="error">
        <div class="col-12 text-left">
            <p class="error">An error has occured in processing the request: {{error}}</p>
        </div>
    </div>

    <div class="row pt-3" id="price-order-button">
        <div class="col-12 text-right">
            <p class="pricetag">{{price | currency}}</p>
            <button type="submit" id="order2" class="order" ng-disabled="addressForm.$invalid || loadingSession || !productValid">Order</button>
        </div>
    </div>
</form>