<form class="blackbkgd container-md address-input">
    <div class="row pt-5">
        <h2 class="col-12">We have Stickers</h2>
    </div>

    <div class="row pt-3 text-left">
        <div class="col-12">
            <a id="backbutton" href="#!/shop">< BACK</a>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12">
            <input type="text" id="namefield" name="name" placeholder="Name">
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12">
            <input type="email" id="emailfield" name="email" placeholder="Email">
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12">
            <input type="text" id="street1field" name="street1" placeholder="Address Line 1">
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12">
            <input type="text" id="street2field" name="street2" placeholder="Address Line 2">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 pt-3">
            <input type="text" id="cityfield" name="city" placeholder="City">
        </div>
        <div class="col-sm-2 pt-3">
            <input type="text" id="statefield" name="state" placeholder="State">
        </div>
        <div class="col-sm-2 pt-3">
            <input type="text" id="zipfield" name="zip" placeholder="Zip">
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12 text-left">
            <p class="note">Note: Currently we are only mailing in the US.</p>
        </div>
    </div>

    <div class="row pt-3" id="price-order-button">
        <div class="col-12 text-right">
            <p class="pricetag">$2.50</p>
            <button id="order2" class="order">Order</button>
        </div>
    </div>
</form>