<div class="container">
    <div class="row">
        <h2 class="col-12 text-center">Missing the Joke</h2>
    </div>
    <div class="row pb-5 pt-5">
        <p class="col-12 text-center">Woooosh</p>
    </div>
    <div class="row">
        <div class="col-lg-4 pb-3"><a href="https://anchor.fm/missingthejoke" class="button primary">Listen to the Podcast</a>
        </div>
        <div class="col-lg-4 pb-3"><a href="https://www.patreon.com/missingthejoke" class="button">Support on Patreon</a></div>
        <div class="col-lg-4 pb-3"><a href="#!/shop/" class="button">Shop our Stickers</a></div>
    </div>
</div>